* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
    max-width: 960px;
    min-width: 767px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    border-bottom: 1px solid #E6E6E6;
    padding-top: 24px;
    padding-bottom: 23px;
}

.logo {
    float: left;
}
.menu {
    float: right;
}

.story {
    padding-top: 58px;
    padding-bottom: 116px;
}

.story h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2.30625px;
    color: #48555b;
    text-transform: uppercase;
    padding-bottom: 64px;
}

.story-parent {
    margin: 0 -10px;
}

.story-col {
    float: left;
    width: 50%;
    padding: 0 10px;
}

.story-text-title {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.1875px;
    padding-bottom: 30px;
    color: #48555B;
}
.story-text-title span {
    color: #16ACE8;
}
.story-text p {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555b;
    padding-bottom: 25px;
}
.story-pics {
    padding-top: 28px;
}

.story-pic-wrap {
    width: 33.333%;
    float: left;
    padding: 0 10px;
}

.story-pic-item {
    font-size: 24px;
    line-height: 29px;
    font-weight: 800;
    letter-spacing: 0.1875px;
    color: #ffffff;
    height: 224px;
    padding: 15px 14px;
    text-transform: uppercase;   
}

.story-pic-item_01 {
    background-image: url('../img/item-01.jpg');
}
.story-pic-item_02 {
    background-image: url('../img/item-02.jpg');
}
.story-pic-item_03 {
    background-image: url('../img/item-03.jpg');
}

.capa {

}

.capa-header {
    padding-bottom: 76px;
}

.capa-header h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2.30625px;
    color: #48555B;
    float: left;
    text-transform: uppercase;
}

.capa-link {
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background: #00A4E5;
    padding: 13px 27px;
    float: right;
    text-decoration: none;
    text-transform: uppercase;
}

.capa-list {
    font-size: 0;
    list-style: none;
    padding-left: 0;
    margin: 0 -10px;
}

.capa-item {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    width: 33.333%;
}

.capa-item-inset {
    border: 1px solid #E6E6E6;
    padding: 39px 23px;
}

.capa-item-ico-01 {
    background-image: url('../img/capa-ico-01.jpg');
    width: 66px;
    height: 75px;
    margin-bottom: 25px;
}

.capa-item-ico-02 {
    background-image: url('../img/capa-ico-02.jpg');
    width: 68px;
    height: 75px;
    margin-bottom: 25px;
}

.capa-item-ico-03 {
    background-image: url('../img/capa-ico-03.jpg');
    width: 66px;
    height: 71px;
    margin-bottom: 25px;
}

.capa-item h3 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.426667px;
    color: #48555B;
    padding-bottom: 13px;
    text-transform: uppercase;
}

.capa-item p {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}

.mr-0 {
    margin-right: 0;
}