@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/roboto-v30-latin-300italic.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-300italic.woff');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-regular.woff') format('woff');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-italic.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-italic.woff') format('woff');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-500.woff') format('woff');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-700.woff') format('woff');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700italic.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-700italic.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
}

.body {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.body.fixed {
    overflow: hidden;
}
.container {
    max-width: 1220px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

/* ------------ */
.btn {
    cursor: pointer;
    font-family: inherit;
    border: none;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.btn_sm {
    font-size: 14px;
    font-weight: 400;
    padding: 11px 22px;
    border-radius: 20px;
}

.btn_md {
    font-size: 16px;
    font-weight: 400;
    padding: 16px 27px;
    border-radius: 25px;
}

.btn_lg {
    font-size: 18px;
    font-weight: 500;
    padding: 13px 27px;
    border-radius: 28px;
}

.btn_blue {
    color: #ffffff;
    background-color: #3751FF;
}

.btn_white {
    color: #455880;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}



.btn_email {
    position: relative;
    padding-left: 72px;
}

.btn_email::before {
    content: '';
    background-image: url('../img/mail.svg');
    width: 29px;
    height: 29px;
    position: absolute;
    left: 28px;
    top: 50%;
    transform: translateY(-50%);
}

/* ------------ */
.h1-title {
    font-weight: 500;
    font-size: 56px;
    line-height: 59px;    
    text-align: center;
    color: #1E266D;
}
.h2-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #1E266D;
}

/* ------------ */
.header {
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 18px;
}

.logo img {
    display: block;
}

.menu {
    margin-right: auto;
    margin-left: 89px;
}

.mobile-menu {
    display: none;
}

.menu-list {
    padding-left: 0;
    list-style: none;
    display: flex;
}

.menu-list > li {
    margin-right: 56px;
}

.menu-list > li > a {
    font-size: 16px;
    line-height: 24px;
    color: #1E266D;
    text-decoration: none;
}

.header__phone {
    font-size: 16px;
    line-height: 24px;
    color: #1E266D;
    text-decoration: none;
}

.header__contact {
    margin-left: 34px;
}

/* ------------ */

.intro {
    background: linear-gradient(180deg, rgba(242, 249, 255, 0.12) 0%, #F2F9FF 100%);
    padding-top: 149px;
}

.intro__title {
    max-width: 590px;
    margin: 0 auto 27px;
}

.intro__description {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #455880;
    margin-bottom: 29px;
}

.intro__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.intro__buttons button:first-child {
    margin-right: 22px;
}

.intro__pic {
    text-align: center;
}

/*---------------*/

.trusted {
    padding-top: 186px;
    padding-bottom: 150px;
    margin-top: -134px;
    background-color: #ffffff;
}

.trusted__title {
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: rgba(69, 88, 128, 0.5);
    margin-bottom: 50px;
}

.trusted__logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;
}

.trusted__item {
    padding: 0 15px;
}

/*------ */

.able {

}

.able__title {
    max-width: 590px;
    margin: 0 auto 50px;
}

.able__row {
    display: flex;
    margin: 0 -15px;
    justify-content: space-between;
}

.able__col {
    width: 50%;
    padding: 0 15px;
}

.able-achievements {
    max-width: 405px;
    padding: 84px 15px 0;
}

.able-achievements__item {
    padding-left: 105px;
    background-repeat: no-repeat;
    background-position: 0 0;
    border-bottom: 1px solid rgba(69, 88, 128, 0.2);
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.able-achievements__item h3 {
    font-size: 22px;
    line-height: 28px;
    color: #1E266D;
    padding-bottom: 25px;
}

.able-achievements__item p {
    font-size: 18px;
    line-height: 27px;
    color: #455880;
}

.able-achievements__item_01 {
    background-image: url('../img/able-01.svg');
}
.able-achievements__item_02 {
    background-image: url('../img/able-02.svg');
}
.able-achievements__item_03 {
    background-image: url('../img/able-03.svg');
}

/*------ */

.design {
    background-image: url('../img/design-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #FFF9EA;
    padding-top: 139px;
    padding-bottom: 576px;
}

.design__title {
    padding-bottom: 40px;
}
.design__description {
    font-size: 21px;
    line-height: 150%;
    text-align: center;
    color: #455880;
    max-width: 400px;
    margin: 0 auto 40px; 
}

.design__wrap-btn {
    text-align: center;
}

/*------ */

.reviews {
    padding-top: 232px;
    padding-bottom: 120px;
}

.reviews__title {
    padding-bottom: 56px;
}

.reviews__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.reviews__item {
    width: 33.333%;
    padding: 0 15px 30px;
}

.reviews__box {
    border: 1px solid rgba(69, 88, 128, 0.2);
    border-radius: 4px;
    padding: 38px 43px 32px;
    text-align: center;
}

.reviews__box-text {
    font-size: 18px;
    line-height: 180%;
    color: #455880;
    padding-bottom: 39px;
    text-align: left;
}

.reviews__box-pic {
    padding-bottom: 23px;
}

.reviews__box-pic img {
    border-radius: 50%;
}

.reviews__box-title {
    font-size: 22px;
    line-height: 125%;
    color: #1E266D;
}

.reviews__box-url {
    font-size: 18px;
    line-height: 180%;
    color: #455880;
}

/*------ */

.ready {
    background-color: #3751FF;
    padding-top: 88px;
    padding-bottom: 113px;
}

.ready__inset {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ready__title {
    color: #ffffff;
    text-align: left;
    max-width: 420px;
}

.ready__info {
    text-align: right;
}

.ready__info button {
    margin-bottom: 19px;
}

.ready__info p {
    font-size: 16px;
    line-height: 20px;
    color: #DFE0EB;
}

/*------ */

.footer__top {
    display: grid;
    grid-template-areas: "text . menu second . last" ;
    grid-template-columns: 3fr 1fr 2fr 2fr 1fr 3fr;
    padding-top: 124px;
    padding-bottom: 57px;
}

.footer__box-01 {
    grid-area: text;
}
.footer__box-02 {
    grid-area: menu;
}
.footer__box-03 {
    grid-area: second;
}
.footer__box-04 {
    grid-area: last;
}

.footer__logo {
    width: 69px;
    height: 25px;
    margin-bottom: 33px;
    display: inline-flex;
}

.footer__logo img {
    display: block;
}

.footer__text {
    font-size: 18px;
    line-height: 26px;    
    color: #455880;
}

.footer__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #1E266D;
    padding-bottom: 22px;
}
.footer__list {
    list-style: none;
    padding-left: 0;
}

.footer__list a {
    font-size: 18px;
    line-height: 40px;
    text-decoration: none;
    color: #455880;
}

.footer__list a:hover {
    text-decoration: underline;
}

.footer__bot {
    display: flex;
    padding-bottom: 107px;
    padding-top: 53px;
    justify-content: space-between;
    border-top: 1px solid rgba(135, 146, 161, 0.08);
}

.footer__copy {
    font-size: 14px;
    line-height: 27px;
    color: rgba(69, 88, 128, 0.5);
}

.footer__menu {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.footer__menu li:not(:first-child) {
    padding-left: 30px;
}

.footer__menu a {
    font-size: 14px;
    line-height: 27px;
    color: #455880;
    text-decoration: none;
}

.footer__menu a:hover {
    text-decoration: underline;
}

.social {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin-bottom: 24px;
}

.social li:not(:last-child) {
    margin-right: 24px;
}


@media (max-width: 991px) {
    .h1-title {
        font-size: 42px;
        line-height: 48px;    
    }
    .h2-title {
        font-size: 36px;
        line-height: 44px;
    }
    .header {
        position: relative;
    }
    .menu {
        order: 1;
        margin-right: 0;
        margin-left: 30px;
    }
    .mobile-menu {
        background-image: url('../img/menu.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-color: transparent;
        border: none;
        width: 30px;
        height: 30px;
        display: block;
    }
    .menu {
        
    }
    .menu-list {
        position: absolute;
        right: 0;
        top: 70px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        padding: 30px;
        background: #ffffff;
        display: none;
        width: 100%;
        height: calc(100vh - 70px);
        overflow: auto;
    }
    .menu-list > li {
        margin-right: 0;
    }
    .menu-list > li:not(:last-child) {
        margin-bottom: 15px;
    }
    .header__phone {
        margin-left: auto;
    }
    .intro {
        padding-top: 100px;
    }
    .trusted {
        padding-bottom: 100px;
    }
    .trusted__logos {
        justify-content: flex-start;
    }
    .trusted__item {
        width: 25%;
        padding-bottom: 30px;
    }
    .reviews__item {
        width: 50%;
    }
    .reviews__item:last-child {
        width: 100%;
    }
    .reviews {
        padding-top: 160px;
    }
    .footer__top {
        grid-template-areas: "text . menu second last" ;
        grid-template-columns: 3fr 1fr 2fr 2fr 3fr;
    }
    
}

@media (max-width: 767px) {
    .h1-title {
        font-size: 32px;
        line-height: 38px;    
    }
    .h2-title {
        font-size: 28px;
        line-height: 36px;
    }
    .intro {
        padding-top: 50px;
    }
    .trusted {
        padding-bottom: 60px;
    }
    .able__row {
        flex-wrap: wrap;
    }
    .able__col,
    .able-achievements {
        width: 100%;
    }
    .able__col {
        order: 1;
        text-align: center;
    }
    .able__col img {
        width: 100%;
        max-width: 380px;
    }
    .able-achievements {
        max-width: none;
        padding-top: 0;
    }
    .able-achievements__item {
        padding-left: 60px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        background-size: 40px 40px;
    }
    .able-achievements__item h3 {
        font-size: 18px;
        padding-bottom: 15px;
    }
    .able-achievements__item p {
        font-size: 16px;
    }
    .design {
        padding-top: 60px;
        padding-bottom: 276px;
        background-size: 800px auto;
    }
    .reviews {
        padding-top: 100px;
        padding-bottom: 60px;
    }
    .reviews__item {
        width: 100%;
    }
    .ready {
        padding: 60px 0;
    }
    .ready__inset {
        flex-direction: column;
    }
    .ready__title {
        max-width: none;
        margin-bottom: 20px;
    }
    .ready__info {
        text-align: center;
    }

    .footer__top {
        padding-top: 60px;
        grid-template-areas: "text last" 
                            "menu second";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content;
        gap: 30px;
    }
    .footer__bot {
        padding-bottom: 60px;
        padding-top: 30px;
    }
}

@media (max-width: 575px) {
    .trusted__logos {
        justify-content: center;
    }
    .trusted__item {
        width: 50%;
        text-align: center;
    }
    .header__contact {
        display: none;
    }
    .reviews__box {
        padding: 20px;
    }
    .reviews__box-text {
        font-size: 16px;
    }
    .footer__top {
        grid-template-areas: "text text" 
                            "last last" 
                            "menu second";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content min-content;
    }
    .footer__bot {
        flex-direction: column;
        align-items: center;
    }
    .footer__copy {
        padding-bottom: 20px;
    }
}

@media (max-width: 479px) {
    .intro__buttons {
        display: block;
    }
    .intro__buttons button:first-child {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .btn_xs_block {
        display: block;
        width: 100%;
    }
}